
/** ADD YOUR AWESOME CODES HERE **/
  /* 서치바 관련 스타일*/
  
  .main-search-input {
    background: #fff;
    padding: 0 120px 0 0;
    border-radius: 1px;
    margin-top: 20px;
    box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3)
}

.fl-wrap {
    float: left;
    width: 100%;
    position: relative
}

.main-search-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255, 255, 255, 0.41);
    left: 50%;
    margin-left: -25px
}

.main-search-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative
}

.main-search-input-item input:first-child {
    border-radius: 100%
}

.main-search-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px
}

.main-search-button {
    background: #e0a1187a
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: rgb(255, 255, 255);
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer
}
.main-search-button:hover {
  background: #665d087a;
  cursor: pointer;
}

.main-search-input-wrap {
    max-width: 500px;
    margin: 20px auto;
    
    position: relative
}

:focus {
    outline: 0
}

@media only screen and (max-width: 768px) {
    .main-search-input {
        background: rgba(255, 255, 255, 0.2);
        padding: 14px 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0)
    }

    .main-search-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px
    }

    .main-search-input-item input {
        border-radius: 6px !important;
        background: #fff
    }

    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 6px
    }
    
}
/* 서치바 관련 스타일 종료 */

/* 관리자 페이지 : 제휴병원 정보 관리에 필요한 테이블 css... */
/* 하기 관리자 페이지용 테이블 리스트 css는 현상황에서 필요가 없어 주석처리함 by thomas lee on nov 30th 13:42pm *//*
    .table-list{
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
    }
*/

/* adminpagecounseloneonone (adminpage11counseloneonone-tom.html)
*    에 있는 하이퍼 링크용 css 스타일... this was updated on Nov30th 15:45pm
*/

    a.oneononecounsel{
        font-weight: normal;
    }

    a.oneononecounsel:hover{ /* 하이퍼 링크 눌를시, 보더 아래에 검은색 줄과 폰트 두꺼워짐*/
        border-bottom: 1px solid black;
        font-weight: bold
    }
/* adminpage13donationmanage  용 css...
*  this was created on Nov 30th.
*/
    h1.adminpagetoph1 {
        text-align: center;
        font-size:30px;
        margin-top:5%;
    }

    .adminpagetablediv {
        margin-top: 40px;
        margin-left: 3%;
        margin-right: 3%;
    }

    table.adminpagetable {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    thead.admintablehead {
        background-color: lightgray;
    }
    tr .admin-userseq {
        width:3%;
        height:2%;
    }
    tr .admin-userid {
        width:5%;
        height:2%;
    }
    tr .admin-useremail {
        width:8%;
        height:2%;
    }
    tr .admin-username {
        width:12%;
        height:2%;
    }
    tr .admin-usertelnum {
        width: 8%;
        height: 2%;
    }
    tr .admin-address {
        width: 14%;
        height: 2%;
    }
    tr .admin-comnum {
        width: 8%;
        height: 2%;
    }
    tr .admin-role {
        width: 4%;
        height: 2%;
    }
    tr .admin-userregdate {
        width: 10%;
        height: 2%;
    }
    tr .admin-useractionbutton {
        width: 7%;
        height: 2%;

    }
    /*
    * 하기는 테이블에 필요한 기타 항목들...
    */

    tr .admin-userdonation {
        width: 7%;
        height: 2%;
    }
    tr .admin-usernickname {
        width: 8%;
        height: 2%;
    }

    /*
    * adminpage13donationmanage-tom 끝.
    */

    /*
    * adminpage2vetmanage-tom 시작.
    */


    button.adminpagebuttonformanage {
        font-weight: 400;
        color: #fff;
        border-style: none;
        cursor:pointer;
        background-color:rgba(220, 139, 31, 1);
    }
    button.adminpagebuttonformanage::after {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        top: 0;
        left: 0;
        padding: 0;
        z-index: -1;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
        opacity: 0;
    }

    button.adminpagebuttonformanage:hover {
        background: rgba(220, 139, 31, 0.5);
        color: #fff;
    }

    /*
    * adminpage2vetmanage-tom 끝.
    */