
/* 타이틀 박스 글자 */
.pet-all-title-box h2 {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    float: left;
    padding: 10px 0px;
}

/* 마이페이지 배경 수정 */
.pet-all-title-box {
    background-color: #e1a963;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    padding: 30px 0px;
    position: relative;
}


/* 마이페이지 카드 영역 */
.pet-account-box {
    text-align: center;
    background: rgba(225, 169, 99, 0.34);
    padding: 30px;
    border-radius: 40px;
}
.pet-bottom-box {
    border-top: 1px solid #eee;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 15px;
}
.pet-bottom-box .account-box {
    min-height: 205px;
}

.pet-account-box {
    /* 마이페이지 카드 간격 */
    margin-top: 50px;
    margin-bottom: 50px;
}

/* 마이페이지 카드 아이콘 크기 */
.pet-service-icon i {
    font-size: 45px;
}

/* 마이페이지 카드 명칭*/
.pet-service-desc h4 {
    font-size: 18px;
    font-weight: 700;
    color: #e9870f;
}

/* 마이페이지 카드 아이콘 호버 크기 및 색상 */
.pet-service-icon a {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 20px 0px;
    width: 80px;
    height: 80px;
    line-height: 110px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #e9870f;
}

  /* 마이페이지 카드 아이콘 호버 테두리 효과 */
.pet-service-icon a::after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(226, 29, 29, 0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

/* 마이페이지 카드 아이콘 호버 효과 */
.pet-service-icon a:hover::after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}

/* 마이페이지 카드 아이콘 호버 색상 */
.pet-service-icon a:hover {
    background: rgb(235, 115, 17);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}

/* 버튼 색상 */
.my-btn-other {
    font-weight: bold;
    color: #e0726c;
    font-size: 12px
}

.my-btn {
    width: 96%;
    background-color: #e7dfd6;
    border-radius: 8px;
    padding: 8px 17px;
    font-size: 13px;
    border: 1px solid #f5f0ef;
    color: black
}
.my-btn {
    background-color: #d38510;
    border: 1px solid rgb(300, 200, 200)
}
.my-btn:hover{
    cursor: pointer;
    background-color: #5c3a08;
    border: 1px solid #5c3a08;
}

/* 회원가입 전체 틀 */
.u_container {
    border: 6px solid rgb(216, 216, 216);
    border-radius: 25px;
    position: relative;
    padding: 0;
    width: 100%;
    max-width: 840px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}
.u_container:hover {
    border: 6px solid #EFC778;
    background-color: #efc7781c;
}

/* 타이틀 */
.u_top-title {
    padding: 80px 0 0;
    text-align: center;
    line-height: 1;
    font-size: 40px;
    color: #555;
    font-weight: 700;
}

/* 회원가입 폼 및 테이블 및 입력란 */
.u_join-box {
    margin-top: 30px;
}
.u_join-table {
    width: 100%;
    border-top: 1px solid #f7ba61;
    border-bottom: 1px solid #f7ba61;
}
.u_join-table tr {
    border-bottom: 1px solid #e1e1e1;
}
.u_join-table tr th {
    padding: 20px 15px 20px 30px;
    width: 240px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
}
.u_join-table tr td {
    padding: 20px 15px;
    height: 85px;
    font-size: 16px;
    color: #777;
    font-weight: 300;
}
.u_join-box input:not([type=checkbox]):not([type=radio]), .u_join-box select {
    max-width: 400px;
    width: 100%;
}

/* 주소 */
.u_input-box-address {
    max-width: 520px;
}
.u_input-box-address input:first-child {
    margin-top: 0;
    width: calc(100% - 270px)!important;
}
.u_input-box-address .button {
    vertical-align: top;
    margin-left: 10px;
    width: 120px;
}
.u_input-box-address input {
    margin-top: 10px;
    max-width: none;
}

/* 버튼 전체 스타일 */
.u_join-box .button {
    line-height: 45px;
    font-size: 18px;
}
.u_join-box .button, .u_join-box input:not([type=checkbox]):not([type=radio]), .u_join-box select {
    vertical-align: top;
    padding: 0 20px;
    height: 45px;
}
.u_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    padding: 0 10px;
    text-align: center;
    transition: all .15s ease;
    cursor: pointer;
}

.u_join-box .u_bottom-button .u_button {
    margin: 0 5px;
    width: 240px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-style: none;

}
.u_join-box .u_bottom-button {
    margin-top: 55px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 0;

}

/* 가입하기 버튼 */
.u_button-point {
    color: #fff;
    background-color: #f1a50d;
    border-radius: 25px;
}

/* 중복체크, 검색, 취소 버튼 */
.u_button-grey {
    color: #fff;
    background-color: #f7ba61;
    border-radius: 25px;
    border-style: none;
}
.u_button-grey:hover {
    background-color: #e0a226;
}

/* 회원가입메인(병원,일반) */
.u_card:hover{
    border: 6px solid #EFC778 ;
	background-color: #efc7781c;
}
.u_card{
	border: 6px solid rgb(216, 216, 216);
	border-radius: 25px;
}
.u_card .ptitle {
	line-height: 1.4;
	text-align: center;
	font-size: 32px;
	color: #EFC778;
	font-weight: 700;
	margin-bottom: 15px;
}
.u_card .pr {
	line-height: 1.4;
	color: #777;
	font-weight: 400;
	font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}
.u_card .pc {
	display: none;
}