
    .container {
      padding: 0;
      width: 1200px;
      max-width: 100%; 
      height: auto;
      object-fit: cover;
      

      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: auto;
    }
    

    .h3 {
      font-size: large;
      text-align: center;
    }

    .a {
      color: black;
    }
	.petInfoList {
		width:100%;
		margin-top: 5%;
		padding:0%;
	}
	.petProfile {
		width:100%;
		height:230px;
		display:inline;
		position : relative;
		float : left;
		margin-top : 1%;
		margin-left: 0;
		margin-right: 0;
		padding:0%;
		border-color: white;
		border-style: solid;
		border-width: 1px;
		background-color: rgb(231, 230, 232);
		text-align: center;
		
		
	}
	
.petProfileimg {
	width:max-content;
}
	.petimage {
		height:200px;
	}
	.petProfileText {
		margin:4%;
	}
	.petProfileBtn{
		margin:auto;
		text-align: center;
		vertical-align:middle;
		
	}
	.petInfoList{
		width:100%;
		margin-top: 5%;
		padding:0%;
	}
	.vetProfile {
		width:100%;
		height:230px;
		display:inline;
		position : relative;
		float : left;
		margin-top : 1%;
		margin-left: 0;
		margin-right: 0;
		padding:0%;
		border-color: white;
		border-style: solid;
		border-width: 1px;
		background-color: rgb(231, 230, 232);
		text-align: center;
		
		
	}
	
.vetProfileimg{
	width:max-content;
}
	.vetimage{
		height:200px;
	}
	.vetProfileText {
		margin:4%;
	}
	.vetProfileBtn{
		margin:auto;
		text-align: center;
		vertical-align:middle;
		
	}
	.btn_image {
		width:max-content;
		height:100%;
		
		
		
	}
	.btn_box{
		width:100%;
		height:150px;
		display:inline;
		position : relative;
		float : left;
		margin : 3%;
		border-color: white;
		border-style: solid;
		border-width: 1px;
		text-align: center;
	}


















