
<!doctype html>
<html lang="ko">


	<sec:authorize access="isAuthenticated()">
		<sec:authentication property="principal" var="principal"/>
	</sec:authorize>


  <head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site Metas -->
    <title>PawMap - 우리집 주변 동물병원 찾기</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/Applications/Dev211/PawMap/PawMap/src/main/resources/static/css/style-login.css">
	    <!-- 몌 커스텀 css -->
		<link rel="stylesheet" href="${pageContext.request.contextPath}/css/style-mye.css">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="${pageContext.request.contextPath}/css/bootstrap.min.css" />
		<!-- Site CSS -->
		<link rel="stylesheet" href="${pageContext.request.contextPath}/css/style.css" />

	<style>
		body { padding: 0px; margin: 0px; }
		.jb-box { width: 100%; height: 100%; z-index:0; overflow: hidden;margin: 0px auto; position: relative; }
		video { width: 100%; height: 100%;}
		.jb-text { position: absolute; top: 1%; width: 100%; z-index: 1; background-color: rgba(58, 58, 58, 0.26);}
		/* .jb-text p { margin-top: -24px; text-align: center; font-size: 48px; color: #ffffff; } */
	  
	 /* 헤더 스타일 */
	 header,
      nav {
        background: rgba(0, 0, 0, 0.041);
        height: fit-content;
      }
      #slides-shop {
        height: 100vh;
      }
	 
	 
	 </style>

	</head>
	<!-- Header 시작 -->
	<header id="header" class="main-header header"  style="z-index: 100;">
		<nav class="
			navbar navbar-expand-lg 
			fixed-top py-3">
			<div class="container col-lg-9">
			  <div class="navbar-header">
				<a href="/pawmap" class="navbar-brand text-uppercase font-weight-bold">PAWMAP</a>
				  <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
				</div>
				<div id="navbarSupportedContent" 
					class="collapse navbar-collapse">
					<ul class="nav navbar-nav ml-auto"
						data-in="fadeInDown"
						data-out="fadeOutUp">
						<li class="nav-item active">
						  <!-- a태그 스타일이 안먹어 -->
						  <a href="/pawmap" id="nav-a" class="nav-link text-uppercase font-weight-bold" >Home </a></li>
						<li class="nav-item">
						  <a href="about.html" id="nav-a" class="nav-link text-uppercase font-weight-bold">회사소개</a></li>
						<li class="nav-item">
						  <a href="/pawmap/search" id="nav-a" class="nav-link text-uppercase font-weight-bold">병원찾기</a></li>
						<li class="nav-item">
						  <a href="contact-us.html" id="nav-a" class="nav-link text-uppercase font-weight-bold">보호소 정보</a></li>
						<li class="dropdown"color: rgb(255, 255, 255);">
							<a
							  href="#"
							  class="nav-link dropdown-toggle arrow"
							  data-toggle="dropdown"
							  >커뮤니티</a
							>
							<!-- style inline으로 -->
							<ul class="dropdown-menu"  style="background-color:rgba(0, 0, 0, 0.089);" >
							  <li style="padding: 3%;"><a href="shop.html" style="color: #fff; size: 0.8em;">공지사항</a></li>
							  <li style="padding: 3%;"><a href="shop-detail.html"  style="color: #fff; size: 0.8em;">자유게시판</a></li>
							  <li style="padding: 3%;"><a href="cart.html"  style="color: #fff; size: 0.8em;">나눔게시판</a></li>
							</ul>
						</li>
					  </ul>
				</div>
		   
		  </div>
			
		  
			 <div class="attr-nav col-lg-3">
			  <ul>
				<li class="search" style="display: none">
				  <a href="#"><i class="fa fa-search"></i></a>
				</li>
				<sec:authorize access="isAnonymous()">
				  <li class="side-menu">
					<a href="/pawmap/loginForm">
					  <p id="attr-nav-p">로그인</p>
					</a>
				  </li>
				  <li class="side-menu">
					<a href="/pawmap/joinForm">
					  <p id="attr-nav-p">회원가입</p>
					</a>
				  </li>
				</sec:authorize>
				<sec:authorize access="isAuthenticated()">
				  <li class="side-menu">
					<a href="/pawmap/mypage">
					  <p id="attr-nav-p">마이페이지 ${principal.user.userNickname} 님 환영합니다.</p>
					</a>
				  </li>
				  <li class="side-menu">
					<a href="/pawmap/logout">
					  <p id="attr-nav-p">로그아웃</p>
					</a>
				  </li>
				</sec:authorize>
				<sec:authorize access="hasRole('ROLE_ADMIN')">
				  <li class="side-menu">
					<a href="/pawmap/admin">
					  <p id="attr-nav-p">관리자 페이지</p>
					</a>
				  </li>
				</sec:authorize>
			  </ul>
			</div>
		   
		  </div>
		 
		</nav>
	  </header>
	  <!-- Header 끝 부분 -->

	<body class="img js-fullheight" >
		<!-- style="background-image: url(../../../resources/static/images/bg.jpg);" -->
		<div class="jb-box">
			<video muted autoplay loop>
			  <source src="../../../resources/static/videos/Children - 77640.mp4" type="video/mp4">
			  <strong>Your browser does not support the video tag.</strong>
			</video>
		<section class="jb-text ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Welcome PawMap</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center"> 우리집 주변 동물병원 찾기</h3>
		      	<form
				  action="/pawmap/login"
                  method="post"
                  class="px-5 pb-5 login-form signin-form"

                  onsubmit="submitLoginForm(this);return false;"
				  >
		      		<div class="form-group">
		      			<input type="text" class="form-control" name="userId" placeholder="userId" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control"  name="userPassword" placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">로그인</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">암호기억하기
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="/pawmap/searchIdPw" style="color: #fff">비밀번호찾기</a>
								</div>
	            </div>
	          </form>
	          <p class="w-100 text-center">&mdash; 소셜 계정으로 이용하기  &mdash;</p>
	         
			  <div class="social d-flex text-center">
				<a href="/pawmap/oauth2/authorization/kakao" class="px-2 py-2 ml-md-1 rounded ion-logo-kakaotalk"><span class="ion-logo-kakaotalk mr-2"></span> Kakaotalk</a>
				<a href="/pawmap/oauth2/authorization/naver" class="px-2 py-2 ml-md-1 rounded ion-logo-naver"><span class="ion-logo-naver mr-2"></span> Naver</a>
	          	<a href="/pawmap/oauth2/authorization/google" class="px-2 py-2 mr-md-1 rounded ion-logo-goolge"><span class="ion-logo-goolge mr-2"></span> Google</a>
	          	<a href="/pawmap/oauth2/authorization/facebook" class="px-2 py-2 ml-md-1 rounded ion-logo-facebook"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
	          </div>
		      </div>
				</div>
				
			</div>
		</div>
	</section>
</div>

	<script src="/Applications/Dev211/PawMap/PawMap/src/main/resources/static/js/jquery.min.js"></script>
  <script src="/Applications/Dev211/PawMap/PawMap/src/main/resources/static/js/popper.js"></script>
  <script src="/Applications/Dev211/PawMap/PawMap/src/main/resources/static/js/bootstrap.min.js"></script>
  <script src="/Applications/Dev211/PawMap/PawMap/src/main/resources/static/js/main.js"></script>
	  <!-- 페이지 스크롤 스크립트 -->
    <script>
      $(function () {
    $(window).on('scroll', function () {
        if ( $(window).scrollTop() > 10 ) {
            $('#header').addClass('active');
        } else if( $(window).s){

        } else {
            $('#navbar').removeClass('active');
        }
    });
});
 </script>
	</body>
</html>

