
/** ADD YOUR AWESOME CODES HERE **/
  /* 서치바 관련 스타일*/
  
  .main-search-input {
    background: #fff;
    padding: 0 120px 0 0;
    border-radius: 1px;
    margin-top: 20px;
    box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3)
}

.fl-wrap {
    float: left;
    width: 100%;
    position: relative
}

.main-search-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255, 255, 255, 0.41);
    left: 50%;
    margin-left: -25px
}

.main-search-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative
}

.main-search-input-item input:first-child {
    border-radius: 100%
}

.main-search-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px
}

.main-search-button {
    background: #e0a1187a
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: rgb(255, 255, 255);
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer
}
.main-search-button:hover {
  background: #665d087a;
  cursor: pointer;
}

.main-search-input-wrap {
    max-width: 500px;
    margin: 20px auto;
    
    position: relative
}

:focus {
    outline: 0
}

@media only screen and (max-width: 768px) {
    .main-search-input {
        background: rgba(255, 255, 255, 0.2);
        padding: 14px 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0)
    }

    .main-search-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px
    }

    .main-search-input-item input {
        border-radius: 6px !important;
        background: #fff
    }

    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 6px
    }
    
}
/* 서치바 관련 스타일 종료 */

/* 관리자 페이지 : 제휴병원 정보 관리에 필요한 테이블 css... */

    .table{
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
    }
